/* -=-=-=-=- RESET -=-=-=-=-*/
* {padding:0px; margin:0px; outline:none; overflow-x:hidden; border:0;}

body {font:90% Arial, Helvetica, sans-serif; color:#333;}

/* Tags Globais */
input { color:#327eae; width:90%;  margin:2px 12px 6px 0; height:2em; padding:0 1.5%; font-size:90%; border:1px solid #d3d3d3; border-top-color:#c3c3c3; border-radius:3px;}
select {height:24px; width:auto; color:#327eae; border:1px solid #d3d3d3; border-top-color:#c3c3c3; border-radius:4px; margin:2px 12px 6px 0; padding:2px; }
h1 {color:#A00; font-size:120%;}
a {color:#333;}
a:hover{color:#A00;}
.btn { width:100px; cursor:pointer; background-color:#f9f9f9; color:#333; font-size:90%;  font-weight:bold; height:30px;}
.btn:hover {background-color:#fff; border-color:#b0b0b0; box-shadow: 1px 1px 8px -4px #999; color:#000;}


/*input[type=text], input[type=password], select{ box-shadow: 0px 1px 2px 1px #d9d9d9 inset;}*/
input[type=text]:hover, input[type=password]:hover, select:hover{border:1px solid #b0b0b0; box-shadow: 1px 1px 8px -4px #999 inset;}
input[type=text]:focus, input[type=password]:focus, select:focus{border:1px solid #d09000; box-shadow: 1px 1px 8px -4px #999 inset;}




/* -=-=-=-=- PARTE DO TOPO DA PAGINA -=-=-=-=-*/
#header { background:url(../images/noise.png) #333; height:66px;  text-align:center;}
#logo { position:absolute; cursor:pointer; z-index:9999; left:20px; top:2px;}



/* -=-=-=-=- PARTE DO CONTEUDO A PAGINA -=-=-=-=-*/
#conteudo { position:absolute; bottom:0; top:70px; width:100%; margin:0 auto;  background:url(../images/noise.png) #ececec; border-top:1px solid #e0e0e0;}


/* -=-=-=-=- FORMATAÇÃO DO PAINEL DE LOGIN -=-=-=-=- */
#log_user { width:320px; margin:8% auto; padding: 20px 3px 5px 3px; border:4px solid #fff; border-radius:6px; box-shadow:-2px 4px 6px -4px #999; 

 -moz-box-shadow:-2px 4px 6px -4px #999; /* Firefox */
 -webkit-box-shadow:-2px 4px 6px -4px #999; /* Safari e Chrome */
 -khtml-box-shadow:-2px 4px 6px -4px #999; /* navegadores do Linux (baseado no KDE) */


 -moz-border-radius:8px; /* Firefox */
 -webkit-border-radius:8px; /* Safari e Chrome */
 -khtml-border-radius:8px; /* navegadores do Linux (baseado no KDE) */

}
#area_login {display:block; padding-left:15px;}
#area_login input {width:85%;}
#log_user  label { width:60%; padding:3px 0; text-align:left; margin:0 auto; font-size:90%; }
#log_user .btn { float:right; margin:8px 16%; width:70px;}
#log_user .img_user { float:left; margin-left:20px; margin-top:22px; width:72px; height:72px; }
	


/* -=-=-=-=-=-=- FORMATAÇÃO DO FORMULARIO DE EQUIPAMENTOS -=-=-=-=-=- */
#form {display:block; margin-top:40px; padding-bottom:10%;}
#form table{width:60%;}
#form td { padding:5px 0; }


/* -=-=-=-=-=-=- FORMATAÇÃO DO FORMULARIO DE BUSCA -=-=-=-=-=- */
#search { display:block; margin-top:10px; margin-left:45px;}
#search td { padding:5px; }
#search input[type=text]{width:340px;}


/*#search input:hover { background-color:#333; 	color:#FFF; }*/


/* -=-=-=-=-=-=- FORMATAÇÃO DA TABELA DE RESULTADO -=-=-=-=-=- */

#result {font-size:90%;  width: 90%; margin-left:50px; box-shadow:-2px 4px 6px -4px #999;}
#result table { width:100%; border:1px solid #d3d3d3; border-bottom:none;}
#result thead tr {background-color:#3d6f99;}
#result thead th {color:#fff; padding:6px;}
#result tbody td {padding:4px; border-bottom:1px solid #d3d3d3;}
#result a {text-decoration:none; color:#333;}
#result input[type=checkbox]{height:22px; width:20px; padding:0; margin:0;}



.check { margin:2px; text-align:center;}

/*-=-=-=-=- CSS EXECUTADO PELO JQUERY -=-=-=-=-=-*/
#result tr.hover td {background-color:#ffffbb; cursor:pointer;}

#result tr.odd {background-color:#f3f3f3; }




/* -=-=-=-=- RODAPÉ DA PAGINA -=-=-=-=-*/
#rodape { position:absolute; bottom:0px;  width:100%; text-align:center; font:80% tahoma,verdana; border-top:1px solid #CsolidCC; padding: 10px 0; color:#fff; background-color:#3d6f99; background-image:url(../images/noise.png); }
#rodape2 { width:100%; text-align:center; font:80% tahoma,verdana; border-top:1px solid #CCC; padding: 10px 0; color:#fff; background-color:#3d6f99; background-image:url(../images/noise.png);}




/*-==-=-=-=- HACK CHROME  -=-=-==-=- */
@media screen and (-webkit-min-device-pixel-ratio:0){
#config_login {font-size:40%}
#conteudo {position:absolute; bottom:0px;}
input[type=text]:hover, input[type=password]:hover, select:hover{ box-shadow: 1px 1px 12px -4px #999 inset;}
input[type=text]:focus, input[type=password]:focus, select:focus{ box-shadow: 1px 1px 12px -4px #999 inset;}

}

